body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: #7581a1;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 80px;
    font-weight: 600;
    color: #192b59;
    max-width: 540px;
    line-height: 1.1;
    letter-spacing: -2.5px;
    margin-bottom: 65px;
}

.title-h2 {
    font-size: 50px;
    font-weight: 600;
    color: #192b59;
}

.title-h2 span {
    display: block;
    font-size: 16px;
    font-weight: 800;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #1085e4;
    margin-bottom: 14px;
}

/*-----*/
.title-40 {
    font-size: 40px;
    letter-spacing: -1.1px;
    font-weight: 600;
    color: #192b59;
    line-height: 1.2px;
    margin-bottom: 100px;
}

.title-40 span {
    display: block;
    font-size: 18px;
    margin-bottom: 20px;
    letter-spacing: 3.4px;
    font-weight: 800;
    text-transform: uppercase;
    color: #1085e4;
    margin-bottom: 55px;
}

.page-stat .title-h2,
.page-screen .title-h2 {
    text-align: center;
    line-height: 1.2;
    letter-spacing: -1.3px;
    margin: 0 auto;
}

.page-stat .title-h2 {
    max-width: 500px;
}

.wrap {
    max-width: 1110px;
    margin: 0 auto;
}

.box-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 305px;
}

.logo {
    background-image: url(../img/logo.png);
    display: block;
    width: 181px;
    height: 49px;
}

.nav {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav>li {
    padding: 0px 19px;
}

.nav-item {
    color: #6e7ea9;
    letter-spacing: 2px;
}

.screen-img {
    display: block;
    background-image: url(../img/header-screen.png);
    background-repeat: no-repeat;
    width: 895px;
    height: 740px;
    position: absolute;
    right: 0;
    top: 190px;
}

.btn-primary {
    color: #fff;
    background-color: #1085e4;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    padding: 20px 62px;
    border-radius: 30px;
    border: 1px solid #1085e4;
    transition: 0.3s;
}

.btn-primary:hover {
    background-color: transparent;
    color: #1085e4;
}

.btn-secondary {
    color: #7e8bae;
    background-color: #cbdbe8;
    border: 1px solid #cbdbe8;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    padding: 20px 40px;
    border-radius: 30px;
    transition: 0.3s;
}

.btn-secondary:hover {
    background-color: #fff;
}

.btn-free {
    font-weight: 400;
    letter-spacing: 1.7px;
    padding: 22px 56px;
}

.btn-group a+a {
    margin-left: 15px;
}

.list-company {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    max-width: 1110px;
    margin: 0 auto;
}

.list-company-item {
    display: block;
}

.company-one {
    background-image: url(../img/sponsor-1.png);
    flex-basis: 198px;
    height: 58px;
}

.company-two {
    background-image: url(../img/sponsor-2.png);
    flex-basis: 200px;
    height: 69px;
}

.company-three {
    background-image: url(../img/sponsor-3.png);
    flex-basis: 201px;
    height: 47px;
}

.company-four {
    background-image: url(../img/sponsor-4.png);
    flex-basis: 200px;
    height: 69px;
}

.btn-info {
    color: #8085b1;
    background-color: #f5faff;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    padding: 20px 62px;
    border: 2px solid #dce1e5;
    border-radius: 30px;
    letter-spacing: 2.5px;
    transition: 0.3s;
}

.btn-info:hover {
    color: #fff;
    background-color: #94b4cc;
    border: 2px solid #94b4cc;
}

/*======================= GRID =========================*/
.grid {
    display: grid;
    grid-template-areas: 
    "a b c" 
    "d b c"
    "d f g"
    "e f g"
    "e h h";
    grid-gap: 35px;
    grid-template-columns: 1fr 1fr 1fr;                    
    max-width: 1110px;
    margin: 0 auto;
}

.grid-title {
    grid-area: a;
}

.grid-item-1 {
    grid-area: b;
}
.grid-item-2 {
    grid-area: c;
}
.grid-item-3 {
    grid-area: d;
}
.grid-item-4 {
    grid-area: e;
}
.grid-item-5 {
    grid-area: f;
}
.grid-item-6 {
    grid-area: g;
}
.grid-text {
    grid-area: h;
}

.grid h2 {
    font-size: 40px;
    color: #192b59;
    font-weight: 700;
}

.grid h2 span {
    font-size: 14px;
    font-weight: 800;
    color: #1085e4;
    text-transform: uppercase;
    display: block;
}

/*Общие стили для текста grid*/
.grid-item {
    text-align: center;
    box-shadow: 0 0 5px #f4f4f4;
}

.grid-item h3 {
    font-size: 20px;
    font-weight: 600;
    color: #192b59;
    margin-bottom: 18px;
}

.grid-item a {
    font-size: 14px;
    font-weight: 600;
    color: #1085e4;
}

/*Общие стили для иконок grid*/
.grid-icon {
    background-repeat: no-repeat;
    display: block;
    height: 92px;
    margin: 0 auto 21px;
    background-position: center;
    
}

.grid-icon-1 {
    background-image: url(../img/icon1.png);
    background-size: 79px 82px;
}

.grid-icon-2 {
    background-image: url(../img/icon2.png);
    background-size: 73px 79px;
}

.grid-icon-3 {
    background-image: url(../img/icon3.png);
    background-size: 89px 85px;
}

.grid-icon-4 {
    background-image: url(../img/icon4.png);
    background-size: 103px 92px;
}

.grid-icon-5 {
    background-image: url(../img/icon5.png);
    background-size: 85px 90px;
}

.grid-icon-6 {
    background-image: url(../img/icon6.png);
    background-size: 100px 87px;
}

/*================== Software ==============*/
.page-software-image {
    background-image: url(../img/software-image.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 923px;
    height: 960px;
    top: 46px;
    left: -9px;
}

.page-software-icon {
    display: block;
    background-image: url(../img/software-icon.png);
    background-repeat: no-repeat;
    background-position: -27px 0;
    width: 118px;
    height: 98px;
}

.page-software .title-h2 {
   min-width: 766px;
   margin-top: 12px;
   margin-bottom: 26px;
   margin: 12px 0 26px 0;
   line-height: 58px;
}
.page-software-flex {
    display: flex;
    justify-content: flex-end;
    margin-left: 552px;
}
.page-software-flex>div {
    flex-basis: 55%;
    max-width: 620px;
    padding-right: 144px;
}

.page-software-list {
    margin-top: 31px;
    height: 323px;
    overflow: hidden;
    overflow: scroll;
    overflow-y: clip;
	overflow-x: hidden;
}

::-webkit-scrollbar { width: 4px; height: 20px;}
::-webkit-scrollbar-button {  background-color: transparent; }
::-webkit-scrollbar-track {  background-color: #1085e4;}
::-webkit-scrollbar-track-piece { background-color: #f3f6ff;}
::-webkit-scrollbar-thumb { height: 50px; background-color: #1085e4; border-radius: 3px;}
::-webkit-scrollbar-corner { background-color: #1085e4;}}
::-webkit-resizer { background-color: #1085e4;}

.page-software-list dt {
    font-size: 16px;
    font-weight: 700;
    color: #5a6789;
}

.page-software-list dd {
    margin-left: 0;
    margin-bottom: 50px;
    font-size: 14px;
    line-height: 1.8;
}
/*================== ROBOTO ==============*/
.subscribe {
    padding: 0 0px 0 0;
}

.subscribe h2 {
    font-size: 50px;
    font-weight: 600;
    letter-spacing: -1.5px;
    color: #fff;
    margin: 43px 0px 44px 0;
}

.subscribe span {
    display: block;
    font-size: 14px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2.8px;
    color: #00bffe;
    margin-bottom: 30px;
}

.subscribe p {
    font-size: 18px;
    font-weight: 400;
    color: #dfe8ff;
    width: 410px;
    margin-bottom: 40px;
}

.robot {
    position: absolute;
    right: 290px;
    top: 50px;
}

.subscribe-box {
    display: inline-block;
    border: 2px solid #3d56ad;
    border-radius: 50px;
}

.subscribe-item {
    display: inline-block;
    background-color: transparent;
    border: 2px solid transparent;
    border-radius: 20px;
    color: #fff;
    padding: 18px 114px 23px 37px;
    letter-spacing: -1px;
}

.subscribe-item:focus {
    outline: none;
}

.subscribe-item::-webkit-input-placeholder {
    color: #fff;
}

.subscribe-btn {
    font-size: 14px;
    font-weight: 700;
    padding: 17px 45px;
    margin: 6px 8px 0px 0px;
}

.subscribe-btn:focus,
.btn-primary {
    outline: none;
}

.subscribe-btn:hover {
    color: #fff;
}

.list-stat {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin-top: 78px;
}

.list-stat>li {
    color: #1085e4;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2.7px;
}

.list-stat>li>span {
    display: block;
    font-size: 60px;
    color: #bacbdc;
    margin-bottom: 23px;
    letter-spacing: 0;
}

.screen {
    margin-top: 36px;
    margin-bottom: -7px;
}

.box-price {
    display: flex;
    justify-content: space-between;
}

.box-price-item {
    background-color: #f5faff;
    flex-basis: 32%;
    position: relative;
    padding: 99px 0 96px 0;
}

/*=========*/

.box-price-item h3 {
    font-size: 70px;
    font-weight: 700;
    margin: -7px 0 18px 0;
    letter-spacing: -2px;
}

.box-price-item:first-child h3 {
    margin-bottom: 36px;
}

.box-price-item h3 span {
    font-size: 20px;
}

.box-price-item p {
    color: #0084ff;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 15px 0 36px;
}

/*=========*/
.box-price-item.active {
    background-color: #192b59;
    color: #fff;
}

.box-price-item ul {
    list-style-type: none;
    padding-left: 0;
    letter-spacing: -1px;
    margin-bottom: 65px;
}

.box-price-item li {
    margin: 13px 0;
    letter-spacing: -1px;
}

/* PAGE */

.page-header {
    background-image: url(../img/header-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 53px 0 330px 0;
    position: relative;
}

.page-stat,
.page-screen {
    background-color: #edf6ff;
}

.page-stat {
    padding: 116px 0 96px 0;
}

.page-plan, .page-screen {
    padding: 109px 0 156px 0;
}

.page-plan,.page-screen {
    text-align: center;
}

.page-screen {
    padding: 116px 0 0 0;
}

.page-company {
    background-image: url(../img/bg-company.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 106px 0 99px 0;
}

.page-subscribe {
    padding: 70px 0 158px 0;
    position: relative;
    background: rgba(11, 36, 146, 1);
    background: -moz-linear-gradient(-45deg, rgba(11, 36, 146, 1) 0%, rgba(35, 120, 205, 1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(11, 36, 146, 1)), color-stop(100%, rgba(35, 120, 205, 1)));
    background: -webkit-linear-gradient(-45deg, rgba(11, 36, 146, 1) 0%, rgba(35, 120, 205, 1) 100%);
    background: -o-linear-gradient(-45deg, rgba(11, 36, 146, 1) 0%, rgba(35, 120, 205, 1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(11, 36, 146, 1) 0%, rgba(35, 120, 205, 1) 100%);
    background: linear-gradient(135deg, rgba(11, 36, 146, 1) 0%, rgba(35, 120, 205, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0b2492', endColorstr='#2378cd', GradientType=1);
}

.page-software {
    position: relative;
    padding: 110px 0 165px 0;
}